In [ ]:
#Q.1) python program to interchange first and last elements in a list.
#ans.) = In this question we have to do interchange the number so we do specify the indexing and then interchange
#the number.
l1 = [1,2,3,4,5]
l1[0],l1[-1] = l1[-1],l1[0]
print(l1)

[5, 2, 3, 4, 1]

In [ ]:
#Q.2) python program to swap two elements in a list.
#ans.) firstly we will define the swap function and list and their postions then call the swap function and lastly
#print the list.
l2 = [1,2,3,4,5]
def swap(l2,pos1,pos2):
    l2[0],l2[3] = l2[3],l2[0]
swap(l2,0,3)
print(l2)

[4, 2, 3, 1, 5]

In [ ]:
#Q.3) Swap two elements in string list.
l3 = ['nakul','khushi','swarnim','siddharth']
def swap(l3,pos1,pos2):
    l3[1],l3[2]=l3[2],l3[1]
swap(l3,1,2)
print(l3)

['nakul', 'swarnim', 'khushi', 'siddharth']

In [ ]:
#Q.4) Ways to find the length of list.
#ans.) There is many ways to find the list but we will see only two ways.
#method 1 = direct method.
l4 = [1,2,3,4,5,6,7]
print(len(l4))

7

In [ ]:
#method 2 = by making new variable n and then find the list.
l5 = [1,2,3,4,5,6,7]
n = len(l5)
print('the length of l5 =',n)

the length of l5 = 7

In [ ]:
#Q.5)  maximum of two number:-
a = 4
b = 2
if a>b:
    print("a is greater then b")
else:
    print("b is greater then a")

a is greater then b

In [ ]:
#Q.6)  minimum of two number:-
a = 2
b = 4
if a<b:
    print("a is smaller then b")
else:
    print("b is smaller then a")

a is smaller then b

In [ ]:
#Q.7) Ways to check if element exists in list.
l7 = [1,2,3,4,5,6]
num = int(input('enter the number='))
if num in l7:
    print("yes this is in list")
else:
    print("no this is not an element of this list")

enter the number=2
yes this is in list

In [ ]:
#Q.8) Way to clean the list.
l8 = [1,2,3,4,5,6,7]
l8.clear()
print(l8)

[]

In [ ]:
#Q.9) Reversing a list:-
l8 = [1,2,3,4,5,6,7]
l8.reverse()
print(l8)

[7, 6, 5, 4, 3, 2, 1]

In [ ]:
#Q.10) Copying a list:-
l9 = [1,2,3,4,5,6]
l9a = l9.copy()
print(l9a)

[1, 2, 3, 4, 5, 6]

In [ ]:
#Q.11) Count occurences of an element in list:-
l11 = [1, 2, 3, 4, 2, 2, 3, 1, 5]
n = int(input('enter the number which you want of it occurence='))
count = 0
for item in l11:
    if item == n:
        count = count + 1
print("the number", n ,"is",count, "times in this list")

enter the number which you want of it occurence=4
the number 4 is 1 times in this list

In [ ]:
#Q.12) Program to find the sum and average of the elements of the list:-
l12 = [34,23,67,23,65,7,33]
l12a = sum(l12)
avg = l12a/7
print("the sum is =",l12a)
print("the average is =",avg)

the sum is = 252
the average is = 36.0

In [ ]:
#Q.13) Sum of the digits in list:-
l13 = [2,3,4,6,7]
sum = 0
for num in l13:
    sum = sum+num
print(sum)

22

In [ ]:
#Q.14) Multiply of all numbers present in list:-
l14 = [2,4,8,4,6,9,3]
multiply = 1
for number in l14:
    multiply = multiply*number
print(multiply)

41472

In [ ]:
#Q.15) Find the smalllest number in list.
l15 = [65,87,4,23,78,90]
small_number = min(l15)
print("smallest number in list is=",small_number)

smallest number in list is= 4

In [ ]:
#Q.16) Find the largest number in list.
l16 = [65,87,4,23,78,90]
large_number = max(l16)
print("the largest number is=",large_number)

the largest number is= 90

In [ ]:
#Q.17) Find the second maximum number in list:-
l17 = [43,78,34,6,89,21,56]
first_max = max(l17)
l17.remove(first_max)
second_max = max(l17)
print("the second maximum number is=",second_max)

the second maximum number is= 78

In [ ]:
#Q.18) Find the even number in the list.
l18 = [23,67,89,43,67,76]
for number in l18:
    if number%2==0:
        print("this number is even=",number)

this number is even= 76

In [ ]:
#Q.19) Find the odd number in the list.
l19 = [24,68,84,44,67,76]
for number in l19:
    if number%2!=0:
        print("this number is odd=",number)

this number is odd= 67

In [ ]:
#Q.20) Python program to print Even Numbers in given range
start = int(input("Enter the start of range: "))
end = int(input("Enter the end of range: "))
for num in range(start, end + 1):
    if num % 2 == 0:
        print(num, end=" ")

Enter the start of range: 3
Enter the end of range: 4
4

In [ ]:
#Q.21) Python program to print odd Numbers in given range.
start = int(input("Enter the start of range: "))
end = int(input("Enter the end of range: "))
for numb1 in range(start, end + 1):
    if numb1 % 2 != 0:
        print(numb1, end=" ")

Enter the start of range: 3
Enter the end of range: 4
3

In [ ]:
#Q.22) Program to print the count of even and odd numbers in a list.
l22 = [54,67,64,23,87,34,90,]
even = []
odd = []
def oddeven_count(numbers):
    even_count = 0
    odd_count = 0
    for num in numbers:
        if num % 2 == 0:
            even.append(num)
            even_count = even_count + 1
        else:
            odd.append(num)
            odd_count = odd_count + 1

    return even_count, odd_count
even_count, odd_count = oddeven_count(l22)
print("Even numbers:", even , "Count:", even_count)
print("Odd numbers:" ,odd, "Count:" ,odd_count)

Even numbers: [54, 64, 34, 90] Count: 4
Odd numbers: [67, 23, 87] Count: 3

In [ ]:
#Q.23) # Python program to print Positive Numbers in a List
l23 = [-10, -21, -4, 45, -66, 93]
positive_numbers = []
for num in l23:
    if num>=0:
        positive_numbers.append(num)
print("Positive numbers in the list: ",positive_numbers)

Positive numbers in the list:  [45, 93]

In [ ]:
#Q.24) # Python program to print negetive Numbers in a List
l24 = [-10, -21, -4, 45, -66, 93]
negetive_numbers = []
for num in l24:
    if num<=0:
        negetive_numbers.append(num)
print("negetive numbers in the list: ",negetive_numbers)

negetive numbers in the list:  [-10, -21, -4, -66]

In [ ]:
#Q.25) Python program to print all positive numbers in a range.
start = int(input("Enter the start of range: "))
end = int(input("Enter the end of range: "))
for number1 in range(start, end + 1):
    if number1 > 0:
        print(number1, end=" ")

Enter the start of range: -3
Enter the end of range: 2
1 2

In [ ]:
#Q.26) Python program to print all negetive numbers in a range.
start = int(input("Enter the start of range: "))
end = int(input("Enter the end of range: "))
for number2 in range(start, end + 1):
    if number2 < 0:
        print(number2, end=" ")

Enter the start of range: -5
Enter the end of range: 2
-5 -4 -3 -2 -1

In [ ]:
#Q.27) Python program to count the positive and negetive numbers in a list.
l27 = [3,1,-5,2,7,-2,6,-8]
positive_count = 0
negetive_count = 0
for numbers in l27:
    if numbers>0:
        positive_count = positive_count + 1
    elif numbers<0:
        negetive_count = negetive_count + 1
print("positive numbers in this list=",positive_count)
print("negetive numbers in this list=",negetive_count)

positive numbers in this list= 5
negetive numbers in this list= 3

In [ ]:
#Q.28)Remove multiple elements from a list in python.
list28 = [11, 5, 17, 18, 23, 50]
for element1 in list1:
    if element1 % 2 == 0:
        list1.remove(element1)
print("New list after removing all even numbers: ", list1)

New list after removing all even numbers:  [11, 5, 17, 23]

In [ ]:
#Q.29) Python program to remove empty tuples from a list of tuples function to remove empty tuples
tuples = [(), ('', 'siddh','15', '8'), (), ('swarnim', 'sidharth'),
        ('nakul', 'khushi', '45'), ('', ''), ()]
def Remove(tuples):
    for i in tuples:
        if(len(i) == 0):
            tuples.remove(i)
    return tuples
print(Remove(tuples))

[('', 'siddh', '15', '8'), ('swarnim', 'sidharth'), ('nakul', 'khushi', '45'), ('', '')]

In [ ]:
#Q.30) Python program to print duplicates from a list of integers.
integers = [1,6,4,2,8,4,9,3]
duplicates_integers =[]
def duplicates(integers):
    for i in integers:
        if integers.count(i)>1 and i not in duplicates_integers:
            duplicates_integers.append(i)
    return duplicates_integers
duplicates(integers)
print(duplicates_integers)

[4]